---
---
@import "primer-support/index.scss";
@import "primer-base/index.scss";
@import "primer-utilities/index.scss";
@import "primer-layout/index.scss";
@import "primer-markdown/index.scss";

/*! (c) Copyright Nik Ahmad : prime v0.1 */
@import "rouge-base16-dark";
@import "base-scroll";
@import "prime/utilities";

body { background-color:initial;color:initial; }
a { color:#4660e1; }
summary {
  cursor:pointer;
  margin-bottom:16px;
  padding:.2em .4em;
  border-radius:4px;
  &:hover{ background-color:initial;background-color:rgba(grey,20%); }
}

.footnotes {
  font-size:.87em;
  margin:24px 0;
  border-top:2px solid grey;border-top-color:rgba(grey,30%);
}

.markdown-body {
  h1 { font-size:1.4em;font-weight:700;letter-spacing:-1px;margin-top:0 }
  h1 a { color:initial; &:hover{ text-decoration:none;color:#4660e1; } }
  img { box-shadow: 1px 1px 3px black; }
  dt { color:#6a737d }
  table {
    tr, th, td { border-color:grey; }
    tr { background-color:initial;background-color:rgba(grey,10%); }
    thead tr,
    tr:nth-child(2n) { background-color:initial;background-color:rgba(grey,20%); }
  }
  .highlight { background-color:#202020;color:#6a9fb5;border-radius:4px; }
  .highlight pre, pre { background-color:initial;border:1px solid grey;border-color:rgba(grey,50%); }
  hr { background-color:grey;opacity:.3; }
  h1, h2, h3, h4, h5, h6 { color:slategray;border-bottom-color:grey;border-bottom-color:rgba(grey,30%); }
  blockquote { color:slategray;border-left-color:slategray;border-left-color:rgba(slategray,50%); }
  code, tt { background-color:initial;background-color:rgba(grey,30%); }
}

// utilities

.p { margin-bottom:16px }
.box { padding:.5em;border-radius:6px; }

.text-secondary { color:initial !important }
.bg-secondary {
  background-color:rgba(slategrey,25%);
  border:1px solid grey;
  border-color:rgba(128,128,128,0.25);
}

.text-primary { color:#4660e1 !important }
.bg-primary { background-color:#4660e1 }

.hero {
  font-size:2.5em;
  font-weight:700;
  letter-spacing:-1px;
  line-height:1.2;
}
