<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}" data-layout="prime">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=5.0,shrink-to-fit=no" />
<meta name="color-scheme" content="{{ page.color_scheme | default: site.color_scheme | default: "light dark" }}" id="_color-scheme" />
{% seo %}
<link rel="stylesheet" href="{{ "/assets/prime/css/style.css?v=" | append: site.github.build_revision | relative_url }}" />
{% include head-custom.html %}
{% include head-custom-google-analytics.html %}
</head>
<body>
<main class="container-lg px-3 my-3 markdown-body">
{% include header-custom.html %}
<article>{{ content }}</article>
{% include footer-custom.html %}
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
<script>anchors.add();</script>
</body>
</html>
